﻿
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        $(document).ready(function () {
            $("#CPF").inputmask("mask", { "mask": "999.999.999-99" });
        });

        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/clientes")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")